
@import url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');


img {
  margin-top: 4%;
}

h1 {
  color: #444;
  margin-top: 2%;
  font-size: 3.5em;
}

a:hover {
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.rate {
  margin-top: 1%;
  display: block;
} 

.genere {
  margin-top: 1%;
}

.genereTitle {
  margin-right: 1%;
}

.trailer {
  margin-bottom: 1%;
}

.ant-col-5 {
  min-height: 500px;
}

.ant-card-bordered {
  border: none;
}

.ant-col-5 {
  width: auto;
}


.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  text-transform: uppercase;
}

.no_image_holder {
  display: inline-block;
  text-align: center;
  background-color: #dbdbdb;
  color: #b5b5b5;
  box-sizing: border-box;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  background: #ccc;
  width: 100%;
  height: 360px;
  padding-top: 110px;
}

.glyphicon-user:before {
  font-size: 10em;
}

.custom-card h3 {
  margin-top: 20px;
  font-size: 1.5em;
}

.ant-input, .ant-btn {
  height: 38px;
}

.ant-input {
   margin-top: 2%;
}

.ant-row h2 {
  margin-top: 50px;
}

.ant-btn-primary {
  position: absolute;
  right: 0;
}

.ant-menu-item, .ant-menu-submenu-title  {
  padding: 0 40px;
}

.ant-menu-submenu-horizontal .ant-menu-sub  {
  margin-top: -7px;
  margin-right: 10px;
}

.ant-input, .ant-btn {
  height: 50px;
  font-size: 1em;

}

.ant-col-12 h1.multi {
  text-align: center;
 }